.container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px 15px;
}

.form-container {
    display: flex;
    width: 400px;
    flex-direction: column;
}

.form-container button {
    margin: 10px auto 0;
    width: 140px;
}

.text-field {
    margin-bottom: 10px;
    padding: 5px 3px;
}

.textarea-field {
    resize: none;
    padding: 5px 3px;
    min-height: 140px;
}

.clear-button {
    background: #D32F2F;
}

.app-header {
    background-color: #282c34;
    padding: 5px 15px;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
}

.nav-menu {

}

.app-header .nav-link {
    color: #fff;
    margin: 0 5px;
    font-size: 16px;
}

.quote-item-author {
    display: flex;
    flex-direction: column;
}

.quote-item-container {
    position: relative;
    display: flex;
    text-align: left;
    border: 1px solid #aeaeae;
    padding: 10px;
    background: #f5f5f5;
}

.quote-item-image {
    max-width: 220px;
    margin-right: 10px;
}

.quote-item-controls {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: right;
    padding: 10px;
}

.quote-item-controls button {
    margin-left: 10px;
}

.quote-item-delete-btn {
    background: #D32F2F;
}

.form-controls-container {
    padding: 10px;
    text-align: center;
}

.form-controls-container button {
    margin-right: 10px;
}

.authors-select {
    margin-bottom: 10px;
}

.quote-list-container {
    width: 100%;
    max-width: 800px;
}

.quote-item-text {
    margin-bottom: 45px;
}

.form-container {
    flex-direction: column;
}

.authors-item-image {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-bottom: 5px;
}

.authors-item-container {
    display: flex;
    border: 1px solid #aeaeae;
    padding: 10px;
    background: #f5f5f5;
    width: 30%;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.authors-item-controls button {
    margin: 0 5px;
}

.authors-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
