* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
button {
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
  background: #3F51B5;
  color: #fff;
  border: none;
}
button:disabled {
  background: #BDBDBD;
}
input, textarea {
  border: 1px solid #E0E0E0;
}
::placeholder {
  color: #9E9E9E;
}
input, textarea, p {
  font-size: 18px;
}
a {
  text-decoration: none;
}
input, textarea, button {
  outline: none;
  font-weight: 300;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
img {
  width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
}